Source: n4d-moving-profiles
Section: admin
Priority: extra
Maintainer: LliureX Team <lliurex@gva.es>
Build-Depends: debhelper (>= 8.0.0), n4d-dev
Standards-Version: 3.9.3
Homepage: http://www.lliurex.net


Package: n4d-moving-profiles
Architecture: all
Pre-depends: n4d
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: N4D plugin for configuring moving profiles
 This plugin manages moving profile setttings
 
